#video {
    width: 640px;
    height: 480px;
    border: 1px solid black;
}

#canvas {
    display: none;
}

#photo {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    margin-top: 10px;
}
